<div class="form-group">
  <label for="{{this.config.label}}">{{this.config.label}}</label>
  <input [(ngModel)]="field" class="form-control" id="{{this.config.label}}"
         onClick="this.select()" placeholder="{{this.config.placeholder}}" type="text">
</div>
