<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{title}}</h5>
  </div>
  <div class="modal-body text-center">
    {{content}}
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" data-dismiss="modal" type="button" (click)="onCancel()" >Close</button>
    <button class="btn btn-primary" type="button" (click)="onConfirm()" >Confirmar</button>
  </div>
</div>
