<div class="form-group">
  <label class="switch switch-lg switch-3d switch-primary">
    {{this.config.label}}
    <input [(ngModel)]="field" [ngModelOptions]="{standalone: true}" (change)="OnChange($event)" class="switch-input" type="checkbox"/>
    <span class="switch-slider mt-2"></span>
  </label>
</div>
