<div class="animated fadeIn">
  <div class="row justify-content-center">
    <div class="col col-xl-8">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col">
              <i class="fa fa-align-justify pt-2"></i> Gestion de Roles
            </div>
            <div class="col text-right">
              <button class="btn btn-sm btn-warning" routerLink="/admin/roles/list" >Regresar</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <app-roles-upsert [mode]="roleUpsertMode"></app-roles-upsert>
        </div>
      </div>
    </div>
  </div>
</div>
