<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <app-synergy-form-input [config]="roleConfig"
                              (pipe$)="OnRoleEmit($event)" ></app-synergy-form-input>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      <app-synergy-form-input [config]="descriptionConfig"
                              (pipe$)="OnDescriptionEmit($event)" ></app-synergy-form-input>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto"><strong>* Todos los campos son obligatorios.</strong></div>
  </div>
  <div class="row justify-content-center mt-3 mb-3">
    <div class="col-6">
      <button (click)="OnSave()" class="btn btn-block btn-primary">{{labelBtnSave}}</button>
    </div>
    <div class="col-3" *ngIf="mode === 1">
      <button (click)="OnDelete()" class="btn btn-block btn-warning">Eliminar</button>
    </div>
    <div class="col-3">
      <button (click)="OnReset()" class="btn btn-block btn-danger">Limpiar</button>
    </div>
  </div>
</div>
