<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <i class="fa fa-align-justify pt-2"></i> Gestion de Roles
        </div>
        <div class="col text-right">
          <button class="btn btn-sm btn-primary" routerLink="/admin/roles/new">Registrar Nuevo Rol</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-responsive-sm table-hover table-outline mb-0">
        <thead class="thead-light">
        <tr>
          <th class="text-center"><i class="icon-people"></i></th>
          <th>Roles</th>
          <th>Descripcion</th>
          <th>Informacion</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of response?.items" (click)="OnEdit(item.id)" >
          <td class="text-center">
            <div class="avatar"><img alt="admin@bootstrapmaster.com" class="img-avatar"
                                     src="assets/img/avatars/1.jpg"><span
              class="avatar-status badge-success"></span></div>
          </td>
          <td>
            <div>{{item.role}}</div>
            <div class="small text-muted">Creado: {{item.createdAt | date:'dd/MM/yyyy'}} |
              Actualizado: {{item.updatedAt | date: 'dd/MM/yyyy'}}</div>
          </td>
          <td>{{item.description}}</td>
          <td>
            <div class="small text-muted">Registrados:</div>
            <strong>{{item.users.length}} Usuarios</strong></td>
        </tr>
        <tr *ngIf="response?.items.length === 0">
          <td colspan="4" class="text-center text-muted">NO SE ENCONTRAROS REGISTROS.</td>
        </tr>
        </tbody>
      </table>
      <div class="container mt-3">
        <div class="row justify-content-center">
          <nav aria-label="...">
            <ul class="pagination">
              <li [ngClass]="{ 'disabled': response?.previous === ''}" class="page-item">
                <a (click)="getPageByUri(response?.previous)"
                   [routerLink]="['/admin/roles/list']"
                   class="page-link">Anterior</a>
              </li>
              <li *ngFor="let page of pages" [ngClass]="{ 'active': page.numberPage == response.pageCurrent }"
                  class="page-item">
                <a (click)="getPageByNumber(page.numberPage)"
                   [routerLink]="['/admin/roles/list']"
                   class="page-link">{{page.numberPage}}
                  <span *ngIf="page.numberPage == response.pageCurrent" class="sr-only">(current)</span>
                </a>
              </li>
              <li [ngClass]="{ 'disabled': response?.next === ''}" class="page-item">
                <a (click)="getPageByUri(response?.next)"
                   [routerLink]="['/admin/roles/list']"
                   class="page-link">Siguiente</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

</div>


